/* Cart Styles */
/* Card container styles */

.books-container {
  display: block;
  gap: 20px;
}

/* Individual book card styles */
.book-card {
  flex-wrap: wrap;
  gap: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-details {
  border: 2px solid #fff;
  height: 200px;
  width: 190px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.book-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.book-author {
  color: #666;
  margin-bottom: 10px;
}

.book-price {
  font-weight: bold;
  color: #1a73e8;
  margin-bottom: 15px;
}

.buy-button {
  padding: 8px 16px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0d47a1;
}

.title {
  text-align: center;
}


.book-details.style1 {
  background-color: #ffcccb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 2 */
.book-details.style2 {
  background-color: #d1e7e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 3 */
.book-details.style3 {
  background-color: #fad02e;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 4 */
.book-details.style4 {
  background-color: #b3cdd1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 5 */
.book-details.style5 {
  background: linear-gradient(45deg, #e0d2cf, #d1e7e0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 6 */
.book-details.style6 {
  background: linear-gradient(-45deg, #a5e6ba, #fad02e);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 7 */
.book-details.style7 {
  background: radial-gradient(circle at top left, #fad02e, #d1e7e0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 8 */
.book-details.style8 {
  background: radial-gradient(circle at top right, #a5e6ba, #ffcccb);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 9 */
.book-details.style9 {
  background: linear-gradient(135deg, #d1e7e0, #fad02e);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Style 10 */
.book-details.style10 {
  background: linear-gradient(135deg, #a5e6ba, #ffcccb);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
}